<!DOCTYPE html>
<html lang = "en">
<head>
  <%- include('../views/head.ejs'); %>
</head>
<body>
 <div>
  <h1><%= newPlayer.name %></h1>
  <p><%= newPlayer.team %>  #<%= newPlayer.jersey %> <%= newPlayer.position %></p>
  <p><%= newPlayer.height %>, <%= newPlayer.weight %></p>
 </div>
 <div class="stats">
  <p>drafted: <%= newPlayer.draftYear %> from: <%= newPlayer.college %></p>
  <p> games played: <%= newPlayerSplits.gp %></p>
 </div>
</body>
</html>