<!DOCTYPE html>
<html lang = "en">
  <head>
  <%- include('../views/head.ejs'); %>
</head>
<body>
  <div>
    <h1><%= newPlayer.name %></h1>
  <a href="/">Back to Search</a>
  <p><%= newPlayer.team %>  #<%= newPlayer.jersey %> <%= newPlayer.position %></p>
  <p><%= newPlayer.height %>, <%= newPlayer.weight %></p>
 </div>
 <div class="stats">
  <p>drafted: <%= newPlayer.draftYear %> from: <%= newPlayer.college %></p>
  <p class="differential">ppg: <%= scoringTrend[0] %></p>
  <p class="differential">reb: <%= scoringTrend[1] %></p>
  <p class="differential">ast: <%= scoringTrend[2] %></p>
 </div>

 <div class="tbl-header">
  <table cellpadding="0" cellspacing="0" border="0">
   <thead>
    <tr>
     <th></th>
     <th>GP</th>
     <th>MPG</th>
     <th>FG%</th>
     <th>3P%</th>
     <th>FT%</th>
     <th>REB</th>
     <th>oREB</th>
     <th>Ast</th>
     <th>Stl</th>
     <th>TO</th>
     <th>PPG</th>
     <th>+/-</th>
     </tr>
   </thead>
  </table>
 </div>
 <div class="tbl-content">
  <table cellpadding="0" cellspacing="0" border="0">
   <tbody>
    <tr>
     <td class="table-tabs">Season</td>
     <td><%= newPlayerSplits.gp %></td>
     <td><%= newPlayerSplits.mpg %></td>
     <td><%= newPlayerSplits.fgPct %></td>
     <td><%= newPlayerSplits.fg3Pct %></td>
     <td><%= newPlayerSplits.ftPct %></td>
     <td><%= newPlayerSplits.reb %></td>
     <td><%= newPlayerSplits.oreb %></td>
     <td><%= newPlayerSplits.ast %></td>
     <td><%= newPlayerSplits.stl %></td>
     <td><%= newPlayerSplits.to %></td>
     <td><%= newPlayerSplits.ppg %></td>
     <td><%= newPlayerSplits.plusMinus %></td>
    </tr>
   </tbody>
  </table>
 </div>
 <div class="tbl-content">
  <table cellpadding="0" cellspacing="0" border="0">
   <tbody>
    <tr>
     <td class="table-tabs">Career</td>
     <td><%= newPlayerCareerSplits.gp %></td>
     <td><%= newPlayerCareerSplits.mpg %></td>
     <td><%= newPlayerCareerSplits.fgPct %></td>
     <td><%= newPlayerCareerSplits.fg3Pct %></td>
     <td><%= newPlayerCareerSplits.ftPct %></td>
     <td><%= newPlayerCareerSplits.reb %></td>
     <td><%= newPlayerCareerSplits.oreb %></td>
     <td><%= newPlayerCareerSplits.ast %></td>
     <td><%= newPlayerCareerSplits.stl %></td>
     <td><%= newPlayerCareerSplits.to %></td>
     <td><%= newPlayerCareerSplits.ppg %></td>
     <td><%= newPlayerCareerSplits.plusMinus %></td>
    </tr>
   </tbody>
  </table>
 </div>

 <h3>Player Feed</h3>
 <div class="feed">
  <% data.forEach(feed => { %>
     <p><%= feed.minutesRemaining %>:<%= feed.secondsRemaining %> - <%= feed.period %> <%= feed.actionType %>, <%= feed.eventType %></p>
  <% }) %>
 </div>
<%- include('../views/footer.ejs') %>
</body>
</html>