<!DOCTYPE html>
<html lang = "en">
<head>
  <%- include('../views/head.ejs'); %>
</head>
<body>
 <div class="form">
  <h1>Search Results</h1>
  <p class="message">
   <%= userValue.firstname %> <%= userValue.lastname %><br>
   <%= userValue.floorplan %><br>
   <%= userValue.movein %><br>
   <%= userValue.price %><br>
  </p><br>
  <form name="form2" method="GET" action="/">
   <button type="submit" name="submit">Back to Forms</button>
  </form>
 </div>
</span>
<%- include('../views/footer.ejs') %>
<%- include('../views/jquery.ejs') %>
<span>
</body>
</html>