<!DOCTYPE html>
<html lang = "en">
<head>
  <%- include('../views/head.ejs'); %>
</head>
<body>
 <div class="container">
  <h1><%= topicHead %></h1>
  <div class="form">
    <h2>Walk-In Guest / <a href="#" id="vendor-a">Vendor Form</a> </h2>
     <%- include('../views/form.ejs') %>
     <br>
     <%- include('../views/form2.ejs') %>
     <div>
        <p class="message"><%= guests[guests.length-1].firstname %> <%= guests[guests.length-1].lastname %> <%= guests[guests.length-1].floorplan %> <%= guests[guests.length-1].price %> <% guests[guests.length-1].movein %></p>
        <p class="message"><%= guests[guests.length-2].firstname %> <%= guests[guests.length-2].lastname %> <%= guests[guests.length-2].floorplan %> <%= guests[guests.length-2].price %> <% guests[guests.length-2].movein %> </p>
        <p class="message"><%= guests[guests.length-3].firstname %> <%= guests[guests.length-3].lastname %> <%= guests[guests.length-3].floorplan %> <%= guests[guests.length-3].price %> <% guests[guests.length-3].movein %></p>
        <p class="message"><%= guests[guests.length-4].firstname %> <%= guests[guests.length-4].lastname %> <%= guests[guests.length-4].floorplan %> <%= guests[guests.length-4].price %> <% guests[guests.length-4].movein %></p>
        <p class="message"><%= guests[guests.length-5].firstname %> <%= guests[guests.length-5].lastname %> <%= guests[guests.length-5].floorplan %> <%= guests[guests.length-5].price %> <% guests[guests.length-5].movein %></p>
     </div>
  </div>
 </div>
 <%- include('../views/footer.ejs') %>
 <%- include('../views/jquery.ejs') %>
</body>
</html>