<!DOCTYPE html>
<html lang = "en">
<head>
  <%- include('../views/head.ejs'); %>
</head>
<body>
 <div class="container">
  <h1><%= topicHead %></h1>
  <div class="form">
     <%- include('../views/form.ejs') %>
     <br>
     <%- include('../views/form2.ejs') %>
  </div>
 </div>
 <%- include('../views/footer.ejs') %>
 <%- include('../views/jquery.ejs') %>
</body>
</html>