<!DOCTYPE html>
<html lang = "en">
<head>
  <%- include('../views/head.ejs'); %>
</head>
<body>
  <span>
    <%= topicHead %>
    <%= userValue.fname %>
    <%= userValue.lname %>
    <%= userValue.fplan %>
    <%= userValue.moveIn %>
    <%= userValue.price %>
  </span>
  <form name="form2" method="GET" action="/">
    <input type="submit" value="Back to Entry">
  </form>
</body>